COINGECKO_DEMO_API_KEY=your_coingecko_demo_api_key_here
BYBIT_API_KEY=your_bybit_api_key_here
BYBIT_API_SECRET=your_bybit_api_secret_here
FRED_API_KEY=your_fred_api_key_here
COINMARKETCAL_API_KEY=your_coinmarketcal_api_key_here
